* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: rgb(58,36,184);
    background: radial-gradient(circle, rgba(58,36,184,1) 26%, rgba(252,70,107,1) 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music_player {
    background: #FFE0E5;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: white;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255,26,26,0.22);
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-img {
    width: 250px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgb(255,26,26,0.22);
    margin: 0 auto; /* Center the image */
    display: block;
}
music-player h1{
    font-size: 20px;
    font-weight: 400px;
    color: #333;
    margin-top: 20px;

}
.music_player p{
    font-size: 14px;
    color: #333;
}
#progress{
    -webkit-appearance: none;
    width: 80%;
    height: 6px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px;

}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f53192;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:8px solid #fff;
    box-shadow: 0 5px 5px rgba(255,26,26,0.22);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 60px ;
    height: 60px;
    margin: 20px;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0  10px 20px rgba(255, 26,26, 0.22);
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background: #f53192;
    color: #fff;
    
}


